header {
  display: flex;
  flex-direction: column;
  padding-top: 225px;
  height: 385px;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0 auto;
}

header > div {
  display: flex;
  justify-content: center;
}
