header {
  display: flex;
  flex-direction: column;
  padding-top: 5.5em;
  height: 385px;
  width: 90%;
  margin: 0 auto 0 auto;
}

header > div {
  display: flex;
  justify-content: center;
}
