.profile-container {
  height: 385px;
  margin-top: 10em;
}

.profile-container > .profile {
  background-color: #e8e8e8;
  background-image: url("https://www.transparenttextures.com/patterns/escheresque-dark.png");
  margin: 0 100px;
  padding: 60px 0;
  text-align: center;
  color: #ffffff;
}

header h2 {
  display: block;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .profile-container {
    margin-top: 0;
  }
  .profile-container > .profile {
    margin: 0;
  }
}
