nav {
  height: 120px;
  background-color: #4056a1;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em;
  position: fixed;
  z-index: 99999999;
  width: 100%;
}

nav > span {
  font-family: Bungee;
  font-size: 40px;
}

.nav-right {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.nav-right i {
  color: red;
}

@media screen and (max-width: 1024px) {
  nav {
    position: relative;
    background-color: #e8e8e8;
    background-image: url("https://www.transparenttextures.com/patterns/escheresque-dark.png");
  }
}
