.form {
  width: 100%;
}

section.new-tweet {
  margin-top: 250px;
  display: flex;
  margin-bottom: 50px;
  flex-direction: column;
  position: relative;
}

label {
  font-weight: bold;
}

#tweet-label::after {
  content: "\a";
  white-space: pre;
}

button {
  background-color: #4056a1;
  color: #ffffff;
  border: 0;
  font-size: 20px;
  padding: 7px 10px;
}

button:hover {
  box-shadow: 2.5px 2.5px 2.5px #747487;
}

textarea {
  width: 100%;
  background: transparent;
  border: 0;
  border-bottom: solid;
}

.under-button {
  font-family: Bungee;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
}

#error {
  color: #ff5454;
  border-color: black;
  display: flex;
  position: absolute;
  top: -30px;
}
@media screen and (max-width: 1024px) {
  section.new-tweet {
    margin-top: 100px;
  }
}
